.estate {
  flex: 4;
  padding: 20px;
}

.estateTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.estateAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.estateTop {
  display: flex;
}

.estateTopLeft,
.estateTopRight {
  flex: 1;
}

.estateTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.estateInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.estateInfoTop {
  display: flex;
  align-items: center;
}

.estateName {
  font-weight: 600;
}

.estateInfoBottom {
  margin-top: 10px;
}

.estateInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.estateInfoValue {
  font-weight: 300;
}

.estateBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.estateForm {
  display: flex;
  justify-content: space-between;
}

.estateFormLeft {
  display: flex;
  flex-direction: column;
}

.estateFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.estateFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.estateFormLeft >select{
  margin-bottom: 10px;
}

.estateUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.estateFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.estateUpload{
  display: flex;
  align-items: center;
}

.estateButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}