* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  display: table;
}

.row {
  margin: 0 -3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  min-width: 15rem;
  max-width: calc(12.5rem + 13vw);
  background: rgb(235, 45, 45);
  border-radius: 0.75em;

  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  position: relative;
}

.card {
  min-width: 15rem;
  max-width: calc(12.5rem + 13vw);
  border-radius: 0.75em;

  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  position: relative;
}

.card::before {
  display: flex;
  inset: 0;
  isolation: isolate;
  mix-blend-mode: color;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  padding: 1em 0;
  height: auto;
  width: auto;
}

p {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
